/* Mobile Styles */

.navbar,
.navbar__lists,
.banner,
.footer__content {
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.navbar,
.navbar__lists {
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 10px;
  gap: 15px;
  width: 100%;
  margin-top: 0;
}

.navbar__brand {
  font-size: 1.25rem;
}

.navbar__lists {
  gap: 10px;
}

.navbar-item a {
  font-size: 0.875rem;
  text-align: center;
}

.banner {
  padding: 20px;
  width: 100%;
  overflow: hidden;
  margin-top: 0;
  flex-direction: column-reverse;
}

.banner__content {
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 10px;
}

.banner__content-title {
  width: 100%;
  height: auto;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 10px;
  width: 100%;
  overflow-wrap: break-word;
  text-align: center;
}

.banner__content-description {
  width: 100%;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25;
  text-align: center;
}

.btn__preebook {
  width: 80%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
}

.banner__image {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

/* company logo */
.horizontal__line-1,
.horizontal__line-2 {
  display: none;
}

.company__logo {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  padding: 20px;
}

.company__logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.footer__content {
  width: 90%;
}

.footer__title {
  font-size: 1rem;
  line-height: 24px;
}

.footer-description {
  font-size: 0.75rem;
  line-height: 24px;
  text-align: left;
}

.footer__paragraph {
font-size: 0.75rem;
line-height: 24px;
text-align: left;
}

.footer__logo {
  gap: 8px;
}


/* featured product */
.featured__product {
  width: 90%;
  height: auto;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* overflow-x: hidden; */
}

.featured__product-image {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.featured__product-content {
  width: 100%;
  height: auto;
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature__title {
  width: 100%;
  height: auto;
  font-size: 1.8rem;
  line-height: 36px;
  text-align: center;
  margin-bottom: -10px;
}

.feature__description {
  width: 100%;
  height: auto;
  font-size: 0.8rem;
  line-height: 24px;
  text-align: center;
  margin-bottom: -10px;
}

.feature__btn {
  width: 155px;
  height: 44px;
  padding: 10px 24px;
  background: rgb(224, 44, 109);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-top: 40px;
  border: none;
  cursor: pointer;
}


/* popular collection */
.collection__title {
  width: 90%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.popular__collection {
  width: 90%;
  height: auto;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  justify-content: center;
}

.collection__box {
  width: 100%;
  height: auto;
}

.collection__box img {
  width: 100%; 
  height: auto;
}

.box__title {
  font-size: 1.65rem;
  line-height: 30px;
}

.box__price {
  font-size: 1.45rem;
  line-height: 140%;
  text-align: left;
  margin-bottom: 10px;
}

.box_rate #value {
  font-size: 0.67rem;
  line-height: 18px;
  letter-spacing: 0.1px;
}

.box__description {
  font-size: 0.67rem;
  line-height: 123%;
  letter-spacing: 1.8%;
}