@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  max-width: 1440px;
  /* height: 3306px; */
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

/* universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* variables */
:root {
  --primary-color: rgb(58, 58, 58);
}

/* shared styles */
.display-hide {
  display: none;
}

#display-hide {
    display: none;
  }
  

/* header elements starts */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  margin-top: 50px;
  cursor: pointer;
}

.navbar__brand {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}

.navbar__lists {
  list-style: none;
  display: flex;
  gap: 34px;
}

.navbar-item {
  position: relative;
}

.navbar-item a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.banner {
  max-width: 1188px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banner__content {
  width: 582px;
  height: 270px;
  margin-top: 74px;
}

.banner__content-title {
  width: 582px;
  height: 133px;
  color: var(--primary-color);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 70px;
  text-align: left;
  margin-bottom: 16px;
}

.banner__content-description {
  width: 505px;
  height: 60.9px;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-bottom: 16px;
}

.btn__preebook {
  width: 196px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 10px 24px 10px 24px;
  border-radius: 41px;
  background: rgb(224, 44, 109);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  cursor: pointer;
}

.banner__image {
  width: 440px;
  height: 414px;
  background-image: url(../images/Circle\ design.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__image img {
  width: 100%;
  height: auto;
}

.horizontal__line-1 {
  margin: 0 auto;
  margin-top: 69px;
  width: 1110px;
  height: 1px;
  background: linear-gradient(
    135deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.378%,
    rgba(192, 204, 218, 0.1) 100%
  );
}

.company__logo {
  max-width: 1110px;
  height: 110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.company__logo img {
  width: 100px;
  height: 60px;
  object-fit: contain;
  margin: 0 10px;
}

.horizontal__line-2 {
  margin: 0 auto;
  margin-top: 20px;
  width: 1110px;
  height: 1px;
  background: linear-gradient(
    135deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.378%,
    rgba(192, 204, 218, 0.1) 100%
  );
}

/* popular collection */
.collection__title {
  width: 262px;
  height: 70px;
  color: var(--primary-color);
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 70px;
  text-align: left;
  margin: 0 auto;
  margin-top: 80px;
}

.popular__collection {
  max-width: 1047px;
  height: 1662px;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.collection__box {
  width: 329px;
  height: 476px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

.collection__box img {
  width: 100%; /* Make image take full width of the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px;
  margin-bottom: 15px; /* Add margin below the image */
}

.box__title {
  color: rgb(24, 25, 31);
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  margin-bottom: 10px;
}

.box__price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
  margin-bottom: 10px;
}

.box_rate {
  display: flex; /* Display stars and value in a row */
  align-items: center;
  margin-bottom: 10px; /* Add margin below the rating */
}

.box_rate i {
  margin-right: 2px;
  color: rgb(251, 130, 0);
}

.box_rate #value {
  color: rgb(94, 99, 102);
  font-size: 0.87rem;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.1px;
  text-align: left;
  margin-left: 2px;
}
.box__description {
  color: rgb(120, 120, 133);
  font-size: 14px;
  font-weight: 0.87rem;
  line-height: 143%;
  letter-spacing: 1.8%;
  text-align: left;
}

/* featured product */
.featured__product {
  width: 1110px;
  height: 270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured__product-image {
  width: 404px;
  height: 270px;
  border-radius: 7px;
}

.featured__product-image img {
  width: 100%;
  height: auto;
}

.featured__product-content {
  width: 610px;
  height: auto;
  margin-top: 15px;
}

.feature__title {
  width: 610px;
  height: 60px;
  color: rgb(10, 8, 38);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  margin-bottom: 16px;
}

.feature__description {
  width: 501px;
  height: 88px;
  color: rgb(108, 108, 108);
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin-bottom: 12px;
  margin-top: 50px;
}

.feature__btn {
  width: 155px;
  height: 44px;
  padding: 10px 24px;
  background: rgb(224, 44, 109);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-top: 0px; /* Adjust margin for spacing */
  border: none;
  cursor: pointer;
}

/* footer elements starts */
footer {
  width: 100%;
  height: auto;
  margin-top: 80px;
  background-color: #0a0826;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__content {
  width: auto;
  height: 139px;
  margin: 0 auto;
  margin-top: 20px;
}

.footer__content--text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}

.footer-description {
  color: rgb(217, 219, 225);
  font-size: 0.87rem;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.footer__paragraph {
  color: rgb(217, 219, 225);
  font-size: 0.87rem;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
  color: white;
  margin-top: 5px;
}
