@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  max-width: 1440px;
  /* height: 3306px; */
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  border: 2px solid red;
}

/* universal styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* variables */
:root {
  --primary-color: rgb(58, 58, 58);
}

/* header elements starts */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  margin-top: 50px;
  cursor: pointer;
}

.navbar__brand {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}

.navbar__lists {
  list-style: none;
  display: flex;
  gap: 34px;
}

.navbar-item {
  position: relative;
}

.navbar-item a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.banner {
  max-width: 1188px;
  height: auto;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banner__content {
  width: 582px;
  height: 270px;
  margin-top: 120px;
}

.banner__content-title {
  width: 582px;
  height: 133px;
  color: var(--primary-color);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 70px;
  text-align: left;
  margin-bottom: 16px;
}

.banner__content-deescription {
  width: 505px;
  height: 60.9px;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-bottom: 16px;
}

.btn__preebook {
  width: 196px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 10px 24px 10px 24px;
  border-radius: 41px;
  background: rgb(224, 44, 109);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.banner__image {
  width: 440px;
  height: 414px;
  background-image: url(../images/Circle\ design.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__image img {
  width: 100%;
  height: auto;
}
